* {
    scrollbar-width: thin;
    scrollbar-color: #00b4b4 #070d12;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color: #00b4b4;
    border-radius: 20px;
    border: 3px solid #070d12;
}

body {
    background-image: url(../images/fundo-site.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.card {
    background-color: #111;
    width: 370px;
    border: 2px solid #00b4b4;
    border-radius: 10px;
    overflow: hidden;
}

.card .info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card .info img {
    width: 96px;
    height: 96px;
    border-radius: 50px;
    border: 4px solid #00b4b4;
}

.card .info .name {
    font-size: 26px;
}

.card .info .post {
    font-size: 20px;
    color: #b8bbc5;
}

.card .content {
    margin-top: 15px;
}

.card .tabs {
    display: flex;
}

.card .tabs .tab {
    width: 33.3%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.card .tabs .tab img {
    width: 30px;
}

.card .tabs .tab.select {
    background-color: #222;
}

.card .info-tab {
    background-color: #222;
    display: flex;
    justify-content: center;
}

.card .tabs .tab:hover {
    background-color: #333;
    transition: background-lor 0.2s easy-in-out;
}

.info-tab .info {
    max-height: 300px;
    padding: 15px;
    display: none;
    overflow-y: auto;
}

.info-tab .info.select {
    display: block;
    width: 100%;
}

.info-tab .sub-tutle {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.info-tab h3 {
    text-align: center;
    padding: 15px;
}

.info-tab p {
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.info-tab span {
    color: #00b4b4;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.social-media a {
    display: block;
    width: 250px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
    overflow-y: auto;
}

.social-media li a:hover {
    opacity: 0.5;
}

.social-media .curriculum {
    background-color: #ff4b4b;
}

.social-media .facebook {
    background-color: #5050d4;
}

.social-media .instagram {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 254, 0, 1) 35%, rgba(255, 0, 226, 1) 100%);
}

.social-media .whatsapp {
    background-color: #00ce00;
}

.social-media .github {
    background-color: #333;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.projects a {
    display: block;
    width: 250px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
    overflow-y: auto;
}
.projects li a:hover {
    opacity: 0.5;
}

.projects .portfolio {
    background-color: #ff4b4b;
}

.projects .mapadev{
    background-color: #00b4b4;
}